@{
    ViewData["Title"] = "Home Page";
}

<div class="text">
    Caluclator by trebush
</div>

<form action="Home/number/" method="POST">
    <br/>
    <input type="number" name="a" />
    <input type="number" name="b"/>
    <input type="submit" value="Submit" />
</form>
@if (ViewBag.Sum != null)
{
    <p>The sum is: @ViewBag.Sum</p>
}